.header {
  width: 100%;
  text-transform: uppercase;
  background: linear-gradient(42deg, rgb(229, 230, 230) 0%, rgba(229, 230, 230, 0.1) 100%);
  position: relative;
}
.header__main-img {
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 62px;
  font-family: inherit;
  font-size: 17px;
  font-weight: 100;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 5px 0;
  z-index: 100;
}
.header .menu .burger {
  display: none;
}
.header .menu .burger__line {
  width: 30px;
  border-bottom: 1px solid #798285;
  padding-bottom: 5px;
}
.header .menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .menu__item {
  margin-right: 45px;
}
.header .menu__item:last-child {
  margin-right: 0px;
}
.header .menu__link {
  color: #798285;
  line-height: 141.1764705882%;
}
.header .menu__link:hover {
  color: #000000;
  border-bottom: 2px solid #000000;
  padding-bottom: 8px;
}

@media (max-width: 1240px) {
  .header .menu {
    margin: 0 15px 0;
  }
  .header .menu__link:hover {
    color: #000000;
    border-bottom: none;
    text-decoration: underline;
  }
}
@media (max-width: 1000px) {
  .header .menu {
    padding-top: 10px;
  }
  .header .menu__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .menu__link {
    margin-right: 20px;
    font-size: 14px;
  }
  .header .menu__link:last-child {
    margin-right: 0px;
  }
}
@media (max-width: 610px) {
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: center;
            flex-direction: center;
  }
  .header .menu__item {
    margin-right: 20px;
  }
  .header .menu__item:nth-child(3) {
    margin-right: 0;
  }
  .header .menu__item:nth-child(4) {
    display: none;
  }
  .header .menu__item:nth-child(5) {
    display: none;
  }
  .header .menu__item:nth-child(6) {
    display: none;
  }
  .header .menu__item:nth-child(7) {
    display: none;
  }
  .header .menu__item:nth-child(8) {
    display: none;
  }
  .header .menu .burger {
    display: initial;
    margin-right: 30px;
  }
}
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 155px;
}
.hero__logo {
  height: 45vw;
}

@media (max-width: 1200px) {
  .hero {
    padding-top: 120px;
  }
  .hero__logo {
    height: 40vw;
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  .hero {
    padding-top: 100px;
  }
  .hero__logo {
    height: 40vw;
    width: 70%;
  }
}
@media (max-width: 900px) {
  .hero {
    padding-top: 70px;
  }
  .hero__logo {
    height: 40vw;
    width: 60%;
  }
}
@media (max-width: 750px) {
  .hero {
    padding-top: 50px;
  }
  .hero__logo {
    height: 44vw;
    width: 50%;
  }
}
@media (max-width: 500px) {
  .hero {
    padding-top: 30px;
  }
  .hero__logo {
    height: 44vw;
    width: 40%;
  }
}
@media (max-width: 400px) {
  .hero {
    padding-top: 20px;
  }
  .hero__logo {
    height: 44vw;
    width: 40%;
  }
}
.discography-block {
  height: 1810px;
  background-image: url(../img/mountains.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
.discography-block .discography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.discography-block .discography .main-title {
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  color: #865956;
  font-size: 50px;
  letter-spacing: 5px;
  text-decoration: line-through;
  margin-bottom: 32px;
}
.discography-block .discography__description {
  max-width: 720px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 150px;
  font-weight: 14px;
  line-height: 24px;
}

.album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  font-family: Open Sans;
}
.album__age {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.album__name {
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin-top: 10px;
}
.album__info {
  margin-top: 20px;
  width: 505px;
  margin-right: 25px;
}
.album__about {
  width: 700px;
}
.album__about-title {
  font-size: 23px;
  color: black;
  margin-bottom: 20px;
}
.album__description {
  font-weight: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}
.album .album-button__hell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 195px;
  height: 56px;
  background-image: url(../img/hellButton-back.png);
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 115px;
}
.album .album-button__night {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 195px;
  height: 56px;
  background-image: url(../img/nightButton-back.png);
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 115px;
}
.album .album-button__smoke {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 195px;
  height: 56px;
  background-image: url(../img/smokeButton-back.png);
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.mountains {
  max-height: 787px;
}
.mountains__img {
  width: 100%;
  z-index: -1;
  bottom: -187%;
}

@media (max-width: 1300px) {
  .discography-block {
    height: initial;
    margin-top: 30px;
    padding-bottom: 165px;
  }
  .discography-block .discography {
    margin: 0 30px 0;
  }
  .discography-block .discography .album__info {
    width: 400px;
    margin-right: 25px;
  }
}
@media (max-width: 1160px) {
  .discography-block .discography {
    margin: 0 30px 0;
  }
  .discography-block .discography__description {
    margin-bottom: 120px;
  }
  .discography-block .discography .album__info {
    width: 300px;
    margin-right: 25px;
  }
  .discography-block .discography .album__about {
    width: 600px;
  }
}
@media (max-width: 1100px) {
  .discography-block .discography {
    margin: 0 30px 0;
  }
  .discography-block .discography__description {
    margin-bottom: 60px;
  }
  .discography-block .discography .album {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .discography-block .discography .album__info {
    width: 300px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .discography-block .discography .album__line {
    width: 500px;
  }
  .discography-block .discography .album__about {
    width: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discography-block .discography .album .album-button__hell {
    margin-bottom: 50px;
  }
  .discography-block .discography .album .album-button__night {
    margin-bottom: 50px;
  }
}
@media (max-width: 700px) {
  .discography-block {
    padding-bottom: 100px;
  }
  .discography-block .discography .main-title {
    font-size: 40px;
  }
}
@media (max-width: 700px) {
  .discography-block .discography {
    margin: 0 30px 0;
  }
  .discography-block .discography__description {
    margin-bottom: 50px;
  }
  .discography-block .discography .album__line {
    width: 400px;
  }
  .discography-block .discography .album__about-title {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .discography-block .discography {
    margin: 0 20px 0;
  }
  .discography-block .discography .album__line {
    width: 250px;
  }
}
@media (max-width: 450px) {
  .discography-block .discography .main-title {
    font-size: 35px;
  }
  .discography-block .discography .album__about-title {
    font-size: 20px;
  }
  .discography-block .discography .album__description {
    line-height: 20px;
  }
  .discography-block .discography .album__info {
    width: initial;
  }
  .discography-block .discography .album .album-button__hell {
    width: 130px;
    height: 40px;
  }
  .discography-block .discography .album .album-button__night {
    width: 130px;
    height: 40px;
  }
  .discography-block .discography .album .album-button__smoke {
    width: 130px;
    height: 40px;
  }
}
@media (max-width: 350px) {
  .discography-block .discography {
    margin: 0 20px 0;
  }
  .discography-block .discography .main-title {
    font-size: 25px;
  }
  .discography-block .discography .album__about-title {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .discography-block .discography .album__about-title {
    font-size: 18px;
  }
}
.concert-block {
  height: 1420px;
  background-image: url(../img/concert-back.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
.concert-block .concert {
  padding-top: 145px;
}
.concert-block .concert .main-title {
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  color: #7fb2b1;
  font-size: 50px;
  letter-spacing: 5px;
  text-decoration: line-through;
  padding-bottom: 45px;
}
.concert-block .concert__description {
  text-align: center;
  max-width: 875px;
  margin: 0 auto;
  font-weight: 14px;
  line-height: 24px;
  padding-bottom: 475px;
}
.concert-block .concert .tour {
  width: 665px;
}
.concert-block .concert .tour__data {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.concert-block .concert .tour__line {
  width: 395px;
  border: 1px solid black;
}
.concert-block .concert .tour__name {
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin-top: 10px;
  margin-bottom: 85px;
}
.concert-block .concert .tour__present-data {
  font-size: 23px;
  color: black;
  margin-bottom: 25px;
}
.concert-block .concert .tour__description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}
.concert-block .concert .tour__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 195px;
  height: 55px;
  border: 1px solid #abb0b0;
}
.concert-block .concert .tour__buy {
  margin-right: 20px;
}

@media (max-width: 1568px) {
  .concert-block {
    height: initial;
    padding-bottom: 100px;
  }
  .concert-block .concert {
    margin: 0 30px 0;
  }
  .concert-block .concert__description {
    padding-bottom: 450px;
  }
}
@media (max-width: 1310px) {
  .concert-block .concert {
    padding-top: 90px;
  }
  .concert-block .concert__description {
    padding-bottom: 400px;
  }
}
@media (max-width: 1170px) {
  .concert-block .concert {
    padding-top: 90px;
  }
  .concert-block .concert__description {
    padding-bottom: 300px;
  }
}
@media (max-width: 1000px) {
  .concert-block .concert {
    padding-top: 90px;
  }
  .concert-block .concert .main-title {
    font-size: 45px;
  }
  .concert-block .concert__description {
    padding-bottom: 200px;
  }
}
@media (max-width: 800px) {
  .concert-block .concert {
    padding-top: 90px;
  }
  .concert-block .concert .main-title {
    font-size: 40px;
  }
  .concert-block .concert__description {
    padding-bottom: 150px;
  }
  .concert-block .concert .tour {
    width: initial;
  }
  .concert-block .concert .tour__name {
    margin-bottom: 50px;
  }
}
@media (max-width: 450px) {
  .concert-block .concert {
    padding-top: 90px;
  }
  .concert-block .concert .main-title {
    font-size: 35px;
  }
  .concert-block .concert__description {
    padding-bottom: 100px;
  }
  .concert-block .concert .tour__line {
    width: 250px;
  }
  .concert-block .concert .tour__description {
    font-size: 13px;
  }
}
@media (max-width: 450px) {
  .concert-block .concert {
    margin: 0 20px 0;
  }
  .concert-block .concert .tour__button {
    width: 130px;
    height: 40px;
  }
}
@media (max-width: 350px) {
  .concert-block .concert {
    padding-top: 90px;
  }
  .concert-block .concert .main-title {
    font-size: 25px;
  }
  .concert-block .concert__description {
    padding-bottom: 100px;
  }
  .concert-block .concert .tour__line {
    width: 250px;
  }
}
.compositions {
  height: 1990px;
  padding-top: 160px;
  padding-bottom: 160px;
}
.compositions .main-title {
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  color: black;
  font-size: 50px;
  letter-spacing: 5px;
  text-decoration: line-through;
  padding-bottom: 45px;
}
.compositions__description {
  text-align: center;
  max-width: 690px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 165px;
}

.song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
}
.song__description {
  width: 600px;
  height: 425px;
  background: #f5f6f6;
  padding: 35px 55px 35px 35px;
}
.song__data {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.song__line {
  width: 395px;
  border: 1px solid black;
}
.song__name {
  font-size: 23px;
  color: black;
  margin-top: 10px;
  margin-bottom: 40px;
}
.song__about {
  height: 70px;
  width: 505px;
  overflow: hidden;
  font-weight: 14px;
  line-height: 24px;
  margin-bottom: 60px;
}
.song__reactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.song__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.song__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.song__icon img {
  margin-right: 10px;
}
.song__number {
  font-size: 12px;
  margin-right: 20px;
}
.song__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 195px;
  height: 55px;
  border: 1px solid #b5b5b5;
  margin-right: 35px;
}
.song__visit {
  margin-right: 15px;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.song__video1 {
  width: 600px;
  height: 425px;
  background-image: url(../img/song1.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.song__video2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 425px;
  background-image: url(../img/song2.png);
  background-size: cover;
}
.song__video3 {
  width: 600px;
  height: 425px;
  background-image: url(../img/song3.png);
  background-size: cover;
}

@media (max-width: 1330px) {
  .compositions {
    margin: 0 30px 0;
    height: initial;
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .compositions .main-title {
    font-size: 45px;
  }
  .compositions__description {
    margin-bottom: 100px;
  }
  .compositions .song {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .compositions .song__description {
    max-width: 450px;
    max-height: 325px;
    padding: 20px 20px 20px 20px;
  }
  .compositions .song__name {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .compositions .song__about {
    width: 380px;
    font-weight: 14px;
    line-height: 22px;
  }
  .compositions .song__button {
    width: 150px;
    height: 45px;
  }
  .compositions .song__visit {
    margin-right: 10px;
    font-size: 13px;
  }
  .compositions .song__number {
    font-size: 10px;
    margin-right: 10px;
  }
  .compositions .song__line {
    width: 250px;
  }
  .compositions .song__video1 {
    max-width: 450px;
    max-height: 325px;
  }
  .compositions .song__video2 {
    max-width: 450px;
    max-height: 325px;
  }
  .compositions .song__video3 {
    max-width: 450px;
    max-height: 325px;
  }
}
@media (max-width: 980px) {
  .compositions {
    margin: 0 30px 0;
    height: initial;
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .compositions .main-title {
    font-size: 37px;
  }
  .compositions__description {
    margin-bottom: 70px;
  }
  .compositions .song {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .compositions .song__description {
    max-width: 350px;
    max-height: 225px;
    padding: 20px 20px 20px 20px;
  }
  .compositions .song__name {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .compositions .song__about {
    width: 300px;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 15px;
  }
  .compositions .song__button {
    width: 100px;
    height: 25px;
  }
  .compositions .song__visit {
    margin-right: 5px;
    font-size: 9px;
  }
  .compositions .song__number {
    font-size: 10px;
    margin-right: 5px;
  }
  .compositions .song__icon img {
    margin-right: 3px;
  }
  .compositions .song__line {
    width: 200px;
  }
  .compositions .song__video1 {
    max-width: 350px;
    max-height: 225px;
    background-size: cover;
    background-position: center;
  }
  .compositions .song__video2 {
    max-width: 350px;
    max-height: 225px;
    background-size: cover;
    background-position: center;
  }
  .compositions .song__video3 {
    max-width: 350px;
    max-height: 225px;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 770px) {
  .compositions {
    margin: 0 30px 0;
    height: initial;
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .compositions .main-title {
    font-size: 35px;
  }
  .compositions__description {
    margin-bottom: 70px;
  }
  .compositions .song {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .compositions .song__description {
    max-width: 520px;
    max-height: 325px;
    padding: 40px 20px 20px 20px;
  }
  .compositions .song__name {
    font-size: 16px;
    margin-bottom: 35px;
  }
  .compositions .song__about {
    width: 380px;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 35px;
  }
  .compositions .song__button {
    width: 140px;
    height: 45px;
  }
  .compositions .song__visit {
    margin-right: 7px;
    font-size: 12px;
  }
  .compositions .song__number {
    font-size: 10px;
    margin-right: 10px;
  }
  .compositions .song__icon img {
    margin-right: 6px;
  }
  .compositions .song__line {
    width: 300px;
  }
  .compositions .song__video1 {
    max-width: 520px;
    max-height: 325px;
    background-size: cover;
    background-position: center;
  }
  .compositions .song__video2 {
    max-width: 520px;
    max-height: 325px;
    background-size: cover;
    background-position: center;
  }
  .compositions .song__video3 {
    max-width: 520px;
    max-height: 325px;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 600px) {
  .compositions {
    margin: 0 30px 0;
    height: initial;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .compositions .main-title {
    font-size: 30px;
  }
  .compositions__description {
    margin-bottom: 70px;
  }
  .compositions .song {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .compositions .song__description {
    max-width: 390px;
    max-height: 250px;
    padding: 15px 15px 15px 15px;
  }
  .compositions .song__name {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .compositions .song__about {
    width: 320px;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 20px;
  }
  .compositions .song__button {
    width: 130px;
    height: 40px;
  }
  .compositions .song__visit {
    margin-right: 7px;
    font-size: 12px;
  }
  .compositions .song__number {
    font-size: 10px;
    margin-right: 10px;
  }
  .compositions .song__icon img {
    margin-right: 3px;
  }
  .compositions .song__line {
    width: 230px;
  }
  .compositions .song__video1 {
    max-width: 390px;
    max-height: 250px;
    background-size: cover;
    background-position: center;
  }
  .compositions .song__video2 {
    max-width: 390px;
    max-height: 250px;
    background-size: cover;
    background-position: center;
  }
  .compositions .song__video3 {
    max-width: 390px;
    max-height: 250px;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 470px) {
  .compositions {
    margin: 0 30px 0;
    height: initial;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .compositions .main-title {
    font-size: 27px;
  }
  .compositions__description {
    margin-bottom: 60px;
  }
  .compositions .song {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .compositions .song__description {
    max-width: 300px;
    max-height: 250px;
    padding: 15px 15px 15px 15px;
  }
  .compositions .song__name {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .compositions .song__about {
    width: 200px;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 20px;
  }
  .compositions .song__button {
    width: 114px;
    height: 35px;
    margin-right: 20px;
  }
  .compositions .song__visit {
    margin-right: 5px;
    font-size: 9px;
  }
  .compositions .song__number {
    font-size: 9px;
    margin-right: 10px;
  }
  .compositions .song__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .compositions .song__icon img {
    width: 10px;
    margin-bottom: 5px;
  }
  .compositions .song__line {
    width: 230px;
  }
  .compositions .song__video1 {
    max-width: 300px;
    max-height: 250px;
    background-size: cover;
    background-position: center;
  }
  .compositions .song__video2 {
    max-width: 300px;
    max-height: 250px;
    background-size: cover;
    background-position: center;
  }
  .compositions .song__video3 {
    max-width: 300px;
    max-height: 250px;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 370px) {
  .compositions {
    margin: 0 20px 0;
    height: initial;
    padding-top: 55px;
    padding-bottom: 40px;
  }
  .compositions .main-title {
    font-size: 25px;
  }
  .compositions__description {
    margin-bottom: 50px;
    font-size: 13px;
  }
  .compositions .song {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .compositions .song__description {
    max-width: 280px;
    max-height: 240px;
    padding: 15px 15px 15px 15px;
  }
  .compositions .song__data {
    font-size: 13px;
  }
  .compositions .song__name {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .compositions .song__about {
    width: 200px;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 20px;
  }
  .compositions .song__button {
    width: 119px;
    height: 35px;
    margin-right: 15px;
  }
  .compositions .song__visit {
    margin-right: 3px;
    font-size: 9px;
  }
  .compositions .song__number {
    font-size: 9px;
    margin-right: 10px;
  }
  .compositions .song__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .compositions .song__icon img {
    width: 10px;
    margin-bottom: 5px;
  }
  .compositions .song__line {
    width: 230px;
  }
  .compositions .song__video1 {
    max-width: 280px;
    max-height: 240px;
    background-size: cover;
    background-position: center;
  }
  .compositions .song__video2 {
    max-width: 280px;
    max-height: 240px;
    background-size: cover;
    background-position: center;
  }
  .compositions .song__video3 {
    max-width: 280px;
    max-height: 240px;
    background-size: cover;
    background-position: center;
  }
}
.history-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  max-height: 645px;
  background-image: url(../img/ocean.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.history-block .history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 160px;
  padding-bottom: 85px;
}
.history-block .history__note {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.history-block .history__main-text {
  max-width: 885px;
  text-align: center;
  font-size: 18px;
  color: white;
  line-height: 27px;
  letter-spacing: 2px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.history-block .history__description {
  max-width: 510px;
  text-align: center;
  margin: 0 auto;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 70px;
}
.history-block .history__years {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
  font-size: 14px;
}

.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.circles__circle--active {
  width: 11px;
  height: 11px;
  border: 2px solid white;
  border-radius: 50px;
  margin-right: 40px;
}
.circles__circle {
  width: 11px;
  height: 11px;
  border: 2px solid white;
  border-radius: 50px;
  background: white;
  margin-right: 40px;
}
.circles__circle:last-child {
  margin-right: 0px;
}

@media (max-width: 1070px) {
  .history-block {
    height: initial;
  }
  .history-block .history {
    margin: 0 30px 0;
  }
  .history-block .history .history__main-text {
    font-size: 16px;
  }
}
@media (max-width: 1070px) and (max-width: 700px) {
  .history-block .history {
    margin: 0 30px 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .history-block .history .history__main-text {
    margin-bottom: 40px;
    font-size: 13px;
  }
  .history-block .history__description {
    font-size: 13px;
  }
  .history-block .history__years {
    margin-bottom: 60px;
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .history-block .history {
    margin: 0 30px 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .history-block .history .history__main-text {
    margin-bottom: 40px;
    font-size: 13px;
  }
  .history-block .history__description {
    font-size: 12px;
  }
  .history-block .history__years {
    margin-bottom: 60px;
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .circles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .circles__circle--active {
    margin-right: 20px;
  }
  .circles__circle {
    margin-right: 20px;
  }
  .circles__circle:last-child {
    margin-right: 0px;
  }
}
@media (max-width: 390px) {
  .history-block .history {
    margin: 0 20px 0;
  }
  .history-block .history .history__main-text {
    margin-bottom: 30px;
    font-size: 13px;
  }
  .history-block .history__description {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .history-block .history__years {
    margin-bottom: 40px;
    font-size: 12px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

body {
  height: 100%;
  line-height: 1;
  background: #ffffff;
  font-size: 14px;
  color: #798285;
  font-weight: 500;
  font-family: Open Sans;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */