// header //
$headerBP1: 1240px;
$headerBP2: 1000px;
$headerBP3: 610px;
$headerBP4: 377px;

//hero 
$heroBP1: 1200px;
$heroBP2: 1000px;
$heroBP3: 900px;
$heroBP4: 750px;
$heroBP5: 500px;
$heroBP6: 400px;

//discography 
$discographyBP1: 1300px;
$discographyBP2: 1160px;
$discographyBP3: 1100px;
$discographyBP4: 700px;
$discographyBP5: 450px;
$discographyBP6: 350px;

//concert 
$concertBP1: 1568px;
$concertBP2: 1310px;
$concertBP3: 1170px;
$concertBP4: 1000px;
$concertBP5: 800px;
$concertBP6: 450px;
$concertBP7: 350px;

//compositions
$compositionsBP1: 1330px;
$compositionsBP2: 1200px;
$compositionsBP3: 920px;
$compositionsBP4: 700px;
$compositionsBP5: 450px;

//history 
$historyBP1: 1070px;
$historyBP2: 700px;
$historyBP3: 500px;
$historyBP4: 390px;

//chill 
$chillBP1: 1250px;
$chillBP2: 1220px;
$chillBP3: 828px;
$chillBP4: 450px;
$chillBP5: 390px;

//events 
$eventsBP1: 1240px;
$eventsBP2: 700px;
$eventsBP3: 550px;
$eventsBP4: 450px;

//story 
$storyBP1: 1700px;
$storyBP2: 1580px;
$storyBP3: 1460px;
$storyBP4: 1320px;
$storyBP5: 1145px;
$storyBP6: 1100px;
$storyBP7: 995px;
$storyBP8: 830px;
$storyBP9: 695px;
$storyBP10: 600px;
$storyBP11: 400px;

//contact 
$contactBP1: 800px;
$contactBP2: 700px;
$contactBP3: 450px;
$contactBP4: 350px;
