// header //
$headerBP1: 1240px;
$headerBP2: 1000px;
$headerBP3: 610px;
$headerBP4: 377px;

//hero 
$heroBP1: 1200px;
$heroBP2: 1000px;
$heroBP3: 900px;
$heroBP4: 750px;
$heroBP5: 500px;
$heroBP6: 400px;

//discography 
$discographyBP1: 1300px;
$discographyBP2: 1160px;
$discographyBP3: 1100px;
$discographyBP4: 700px;
$discographyBP5: 450px;
$discographyBP6: 350px;

//concert 
$concertBP1: 1568px;
$concertBP2: 1310px;
$concertBP3: 1170px;
$concertBP4: 1000px;
$concertBP5: 800px;
$concertBP6: 450px;
$concertBP7: 350px;

//compositions
$compositionsBP1: 1330px;
$compositionsBP2: 980px;
$compositionsBP3: 770px;
$compositionsBP4: 600px;
$compositionsBP5: 470px;
$compositionsBP6: 370px;

//history 
$historyBP1: 1070px;
$historyBP2: 700px;
$historyBP3: 500px;
$historyBP4: 390px;

//chill 
$chillBP1: 1250px;
$chillBP2: 839px;
$chillBP3: 450px;
$chillBP4: 350px;