// header //
$headerBP1: 1240px;
$headerBP2: 1000px;
$headerBP3: 610px;
$headerBP4: 377px;

//hero 
$heroBP1: 1200px;
$heroBP2: 1000px;
$heroBP3: 900px;
$heroBP4: 750px;
$heroBP5: 500px;
$heroBP6: 400px;

//discography 
$discographyBP1: 1300px;
$discographyBP2: 1160px;
$discographyBP3: 1100px;
$discographyBP4: 700px;
$discographyBP5: 450px;
$discographyBP6: 350px;