.events-block {
    min-height: 1170px;
    background-image: url(../img/events-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 175px;
    .events {
       @include flex(flex-end, center, center);
        &__events-content {
            max-width: 675px;
            .main-title {
                font-family:'Dosis', sans-serif;
                font-weight: lighter;
                text-transform: uppercase;
                color: #42717e;
                font-size: 50px;
                letter-spacing: 5px;
                text-decoration: line-through;
                margin-bottom: 120px;
            }
        }
        &__name {
            font-size: 23px;
            color: black;
            margin-bottom: 10px;
        }
        &__line {
            width: 130px;
            border: 1px solid black;
            margin-bottom: 20px;
        }
        &__adress {
            width: 275px;
            font-size: 14px;
            line-height: 25px;
        }
        &__line1 {
            width: 50px;
            border: 1px solid black;
            transform: rotate(90deg);
            margin-top: 30px;
            margin-bottom: 35px;
        }
        &__data {
            font-size: 14px;
            font-weight: bold;
        }
        &__line2 {
            width: 165px;
            border: 1px solid black;
            transform: rotate(90deg);
            margin-top: 95px;
            margin-bottom: 100px;
            margin-left: -57px;
        }
        &__description {
            font-size: 14px;
            line-height: 24px;
        }
        &__line3 {
            width: 50px;
            border: 1px solid black;
            transform: rotate(90deg);
            margin-top: 30px;
            margin-bottom: 35px;
        }
     
    }
}