@media (max-width:$discographyBP1) {
    .discography-block {
        height: initial;
        margin-top: 30px;
        padding-bottom: 165px;
    .discography {
        margin: 0 30px 0;
        .album {
            &__info {
                width: 400px;
                margin-right: 25px;
                }
            }
        }
    }
}
@media (max-width:$discographyBP2) {
    .discography-block {
    .discography {
        margin: 0 30px 0;
        &__description {
            margin-bottom: 120px;
        }
        .album {
            &__info {
                width: 300px;
                margin-right: 25px;
            }
            &__about {
                width: 600px;
                }
            }
        }
    }
}
@media (max-width:$discographyBP3) {
    .discography-block {
    .discography {
        margin: 0 30px 0;
        &__description {
            margin-bottom: 60px;
        }
        .album {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            &__info {
                width: 300px;
                margin-right: 0px;
                margin-bottom: 30px;
                margin-top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__line {
                width: 500px;
            }
            &__about {
                width: initial;
                display: flex;
                flex-direction: column;
                
            }
            .album-button {
                &--hell {
                    margin-bottom: 50px;
                }
                &--night {
                    margin-bottom: 50px;
                    }
                }
            }
        }
    }
}
@media (max-width:$discographyBP4) {
    .discography-block {
        padding-bottom: 100px;
    .discography {
        .main-title {
            font-size: 40px;
            }
        }
    }
}
@media (max-width:$discographyBP4) {
    .discography-block {
    .discography {
        margin: 0 30px 0;
        &__description {
            margin-bottom: 50px;
        }
        .album {
            &__line {
                width: 400px;
                }
            &__about-title {
                font-size: 20px;
            }
            }
        }
    }
}
@media (max-width:$discographyBP5) {
    .discography-block {
    .discography {
        margin: 0 20px 0;
        .album {
            &__line {
                width: 250px;
                }
            }
        }
    }
}
@media (max-width:$discographyBP5) {
    .discography-block {
    .discography {
        .main-title {
            font-size: 35px;
        }
        .album {
            &__about-title {
                font-size: 20px;
            }
            &__description {
                line-height: 20px;
                }
                &__info {
                    width: initial;
                }
            .album-button {
                &--hell {
                    width: 130px;
                    height: 40px;
                }
                &--night {
                    width: 130px;
                    height: 40px;
                }
                &--smoke {
                    width: 130px;
                    height: 40px;
                    }
                }
            }
        }
    }
}
@media (max-width:$discographyBP6) {
    .discography-block {
    .discography {
        margin: 0 20px 0;
        .main-title {
            font-size: 25px;
        }
    .album {
        &__about-title {
            font-size: 20px;
                }
            }
        }
    }
}
@media (max-width:$discographyBP6) {
    .discography-block {
    .discography {
    .album {
        &__about-title {
            font-size: 18px;
                }
            }
        }
    }
    
}
