@media (max-width:$compositionsBP1) {
    .songs {
        display: flex;
        flex-direction: column;
        align-items: center;
        .song {
            
            &__reactions {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__button {
                margin-bottom: 20px;
                margin-right: 0;
            }
            &__about {
                max-width: initial;
            }
            &__video {
                height: initial;
                width: initial;
            }
        }
    }
}
@media (max-width:$compositionsBP2) {
    .compositions {
        padding-top: 100px;
        padding-bottom: 100px;
        .main-title {
            font-size: 45px;
        }
        &__description {
            margin-bottom: 100px;
        }
    }
    .songs {

        .song {
           &__description {
            padding: 20px 20px 21px 20px;
            height: initial;
           }
            &__reactions {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__name {
                font-size: 20px;
            }
            &__about {
                height: 70px;
            }
        }
    }
}
@media (max-width:$compositionsBP3) {
    .compositions {
        padding-top: 100px;
        padding-bottom: 100px;
        .main-title {
            font-size: 45px;
        }
        &__description {
            margin-bottom: 100px;
            height: initial;
        }
    }
    .songs {
        .song {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            min-height: initial;
           &__description {
            padding: 20px 20px 21px 20px;
           }
            &__reactions {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__name {
                font-size: 20px;
            }
            &__about {
                height: initial;
            }
            
            
        }
    }
}
@media (max-width:$compositionsBP4) {
    .compositions {
        padding-top: 70px;
        padding-bottom: 30px;
        .main-title {
            font-size: 32px;
            margin: 0 20px 0;
        }
        &__description {
            margin-bottom: 100px;
            margin: 0 20px 70px;
        }
    }
    .songs {
        
        .song {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            margin-bottom: 20px;
            
           &__description {
            padding: 20px 20px 21px 20px;
            
           
           }
            &__reactions {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__name {
                font-size: 20px;
            }
        }
    }
}
@media (max-width:$compositionsBP5) {
    .compositions {
        padding-top: 70px;
        padding-bottom: 30px;
        .main-title {
            font-size: 27px;
            margin: 0 20px 0;
        }
        &__description {
            margin-bottom: 100px;
            margin: 0 20px 70px;
        }
    }
    .songs {
        
        .song {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            
            
           &__description {
            padding: 20px 20px 21px 20px;
        }
           &__about {
            margin-bottom: 40px;
           
           }
            &__reactions {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__name {
                font-size: 20px;
            }
        }
    }
}